body {
    background-image: url(IMG/imagen1.jpg);
    background-color: #cccccc;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}

p {
    font-family: 'Times New Roman';
}

#adicional {
    color: green;
}
p+a {
color: red
}

#titulo {
    font-size: 35px;
    font-family: 'Times New Roman';
    border-width: 1px;
    color: darkcyan;
    padding: 3px;
}

a {
    color: darkgreen;
}

caption {
    color: blue;
    font-family: 'Times New Roman';

}

td {
    color: green;
    font-family: 'Times New Roman';
}

.em {
    color: blue;
}

.row {
    color: red;
    font-family: 'Times New Roman';
}

.especial{
    color: yellow;
    font-family: 'Times New Roman';
}
#subtitulo {
    font-family: 'Times New Roman';
    color: blue;
}

.rojo {
    color: red;
}

.violeta {
    color: blueviolet;
}

.amarillo {
    color: yellow;
}