body{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    background-color: black;
}

nav > a{
    display: inline-block;
    height: 35px;
    width: 75px;
    background-color: darkgray;
    border: 2px solid grey;
    text-align: center;
    margin: 10px;
}

nav > a:hover{
    background-color: gray;
    border: 2px solid darkgrey;
}

section{
    background-color: lightgray;
    padding: 10px;
    border: 2px solid gray;
}

article{
    background-color: white;
    margin: 10px;
    border: 2px solid gray;
    padding: 10px;
}

img{
    padding: 10px;
    width: 75px;
    height: 35px;
}

footer{
    background-color: black;
    padding: 25px;
    color: white;
}

footer>p{
    float: right;
}

.clearfix::after{
    content: "";
    clear: both;
    display: block;
}