#presentacio
{
    color: #575757;
}

p [color = blue]
{
    border-bottom: #000000;
    color: blue;
}

p>span
{
    color: blue;
}

#indice 
{
    text-align: center;
    background-color:  #2C3E50;
    font-family: Arial;
    font-size: 30px;
    color: #ECF0F1;
    border-bottom: 4px,  #E74C3C;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
}

.titulo 
{
    text-align: center;
    background-color: #3498DB;
    font-family: Verdana;
    font-size: 22px;
    color: #FFFFFF;
    border-bottom: 2px,  #2980B9;
    padding: 10px;
}

nav a
{
    color: #16A085 ;
    text-decoration: none;
}

nav a:hover
{
    color:  #1ABC9C ;
    text-decoration: none;
}
tr:nth-child(odd)
{
background-color:pink ;
}
table, tr, td 
{
    border-collapse: collapse;
    border-radius: 1px;
    border-color: gray;
    border-style: solid;
}

th
{
    background-color: #34495E;
    color: #FFFFFF;
}

tr
{
    background-color: #FFFFFF;
    color: #5c7187;
}

span 
{
    font-weight: bold;
    color: #E74C3C;
}

audio
{
    border-collapse: collapse;
    border-radius: 1px;
    border-color: #BDC3C7;
    border-style: solid;
    padding: 10px;
}

footer
{
    background-color: #2C3E50;
    color: #ECF0F1;
}

footer a 
{
    color: #E74C3C;
}

footer a:hover
{
    color: #FFFFFF;
}